/* IMPORTATION DES POLICES PERSONNALISEES */
@font-face {
    font-family: nasa;
    src: url("nasalization-rg.ttf");
}

@font-face{
    font-family: metro-classic;
    src: url("Parisine-Regular.otf");
}

@font-face{
    font-family: metro-bold;
    src: url("Parisine-Bold.otf");
}

@font-face {
    font-family: metro-light;
    src: url("ParisineClair-Regular.otf");
}
/* -------------------- */

/* INITIALISATION DE LA PAGE */
html{
    background-color: #0f1226;
    color: #e2f5ff;
    height: 100%; width: 100%;
}

a{
    text-decoration: none;
    color: #e2f5ff;
}

#menu-mobile{
    display: none;
}

#mobile-alert{
    display: none;
    padding: 0; margin: 0;
    width: 90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.italic{
    font-style: italic;
}
/* -------------------- */

/* MISE EN PAGE DU CONTENU */
header div{
    position: absolute;
    top: 1%; left: 0; right: 0;padding: 1%;

    text-align: center;
}

h1, h2{
    font-family: nasa;
    margin: 0;
    padding: 0.25%;
}

h1{
    font-size: 250%;
}

h2{
    font-size: 150%;
}

nav{
    height: 30%; width: 25%;
    position: absolute;
    top: 35%; left: 4%;
    margin: 0; padding: 0;

    font-family: metro-bold;
    font-size: 200%;

    color: #a5b3ba;
    /*border-style: solid;
    border-width: 1px;
    border-color: #e2f5ff;*/
}

nav ul{
    margin: 0; padding: 0;
    height: 100%; width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

nav ul li{
    margin: 0; padding: 0;
    list-style-type: none;
}

nav ul li:hover{
    color: #e9f7ff;
}

article{
    height: 50%; width: 55%;
    position: absolute;
    top: 25%; left: 35%;
    margin: 0; padding: 0;

    display: block;

    /*border-style: solid;
    border-width: 1px;
    border-color: #e2f5ff;*/
}

article p{
    height: 100%;
    position: relative;
    top: 0; left: 0;
    margin: 4% 0;
    padding: 0;

    display: block; /* to force the display of this part at first page opening */

    font-family: metro-light;
    font-size: 100%;
    text-align: justify;
}

#skills{
    height: 100%;
    margin: 0 0 0 10%;
    padding: 0;
    display: none;

    font-family: metro-classic;
    font-size: 150%;

    border-collapse: separate;
}

#skills .txt{
    padding: 0px 5px 0px 15px;
}

#skills .logo{
    padding: 0px 15px 0px 5px;
}

#skills img{
    height: 50px; width: auto;
}

#degrees{
    height: 100%;
    margin: 0; padding: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    font-family: metro-classic;
    font-size: 150%;
}

#degrees li{
    padding: 1%;
    list-style-type: none;
}

#sites{
    height: 100%;
    margin: 0; padding: 0;

    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sites li{
    margin: 0; padding: 0;
    list-style-type: none;
}

#sites img{
    height: 125px; width: auto;
    margin: 0; padding: 0;
    transition-property: height;
    transition-duration: 0.25s;
}

#sites img:hover{
    height: 150px;
}

footer p{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    font-family: metro-light;
    font-size: 75%;
    text-align: center;
}
/* -------------------- */